<ngb-carousel #ngcarousel
  [showNavigationArrows]="true" 
  [showNavigationIndicators]="true"
>
  <ng-template ngbSlide id="one">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[0]" alt="Slide 1">
    </div>
    <div class = "carousel-caption">
      <h3>{{currentMode[0][1]}}</h3>
      <p>{{currentMode[0][0]}} - {{currentMode[0][2]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide id="two">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[1]" alt="Slide 2">
    </div>
    <div class = "carousel-caption">
      <h3>{{currentMode[1][1]}}</h3>
      <p>{{currentMode[1][0]}} - {{currentMode[1][2]}}</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="three">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[2]" alt="Slide 3">
    </div>
    <div class = "carousel-caption">
      <h3>{{currentMode[2][1]}}</h3>
      <p>{{currentMode[2][0]}} - {{currentMode[2][2]}}</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="four">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[3]" alt="Slide 4">
    </div>
    <div class = "carousel-caption">
      <h3>{{currentMode[3][1]}}</h3>
      <p>{{currentMode[3][0]}} - {{currentMode[3][2]}}</p>
      </div>
  </ng-template>
</ngb-carousel>
<!--
  sendDataToParent invokes eventFromChild with emitted params in carousel component
-->
<ngbd-dropdown-basic (sendDataToParent)="eventFromChild($event)">
</ngbd-dropdown-basic>
