hr  
{  
width: 80%;  
background-color: black;  
margin-bottom: 7px;  
margin-right: auto;  
margin-left: auto;       
}  
ngbd-dropdown-basic{
    margin: 7px;
    position: relative;
    text-align: center;
    
}
.button{
    border-bottom-color: darkgrey;
}

