
<ngb-carousel #ngcarousel
  [showNavigationArrows]="true" 
  [showNavigationIndicators]="true"
>
  <ng-template ngbSlide id="one">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed(0)" [src]="images[0]" alt="Slide 1">
    </div>
    <div class = "carousel-caption">
      <h3>{{ bibItem1.name }}</h3>
      <p>{{ bibItem1.metadata["dc.contributor.author"][0].value }} - {{bibItem1.metadata["dc.date.issued"][0].value }}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide id="two">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed(1)" [src]="images[1]" alt="Slide 2">
    </div>
    <div class = "carousel-caption">
      <h3>{{ bibItem2.name }}</h3>
      <p>{{bibItem2.metadata["dc.contributor.author"][0].value}} - {{bibItem2.metadata["dc.date.issued"][0].value}}</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="three">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed(2)" [src]="images[2]" alt="Slide 3">
    </div>
    <div class = "carousel-caption">
      <h3>{{ bibItem3.name }}</h3>
      <p>{{ bibItem3.metadata["dc.contributor.author"][0].value }} - {{ bibItem3.metadata["dc.date.issued"][0].value }}</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="four">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed(3)" [src]="images[3]" alt="Slide 4">
    </div>
    <div class = "carousel-caption">
      <h3>{{ bibItem4.name }}</h3>
      <p>{{ bibItem4.metadata["dc.contributor.author"][0].value }} - {{ bibItem1.metadata["dc.date.issued"][0].value }}</p>
      </div>
  </ng-template>
</ngb-carousel>
<!--
  sendDataToParent invokes eventFromChild with emitted params in carousel component
-->
<hr size = "1">

<ngbd-dropdown-basic (sendDataToParent)="eventFromChild($event)">
</ngbd-dropdown-basic>

