<!--Hier sollte eigentlich nur stehen:

<ngb-carousel...>
</ngb-carousel>
<ngbd-dropdown-basic>
</ngbd-dropdown-basic>

das hier ist nämlich die root html datei
es muss also ein neues component erstellt werden, was das neue root oder carousel component ist...später
-->


<ngb-carousel #ngcarousel
  [showNavigationArrows]="true" 
  [showNavigationIndicators]="true"
>
  <ng-template ngbSlide id="one">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[0]" alt="Slide 1">
    </div>
    <div class = "carousel-caption">
    <h3>
      Title from API
    </h3>
    <p>Description and Author from API</p>
    </div>
  </ng-template>
  <ng-template ngbSlide id="two">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[1]" alt="Slide 2">
    </div>
    <div class = "carousel-caption">
      <h3>Title from API</h3>
      <p>Description and Author from API</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="three">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[2]" alt="Slide 3">
    </div>
    <div class = "carousel-caption">
      <h3>Title from API</h3>
      <p>Description and Author from API</p>
      </div>
  </ng-template>
  <ng-template ngbSlide id="four">
    <div class="picsum-img-wrapper">
      <img (click)="gotoDetailed()" [src]="images[3]" alt="Slide 4">
    </div>
    <div class = "carousel-caption">
      <h3>Title from API</h3>
      <p>Description and Author from API</p>
      </div>
  </ng-template>
</ngb-carousel>
<ngbd-dropdown-basic>
</ngbd-dropdown-basic>
