/* You can add global styles to this file, and also import other style files */
ngb-carousel {
    max-width: 1100px;
    margin: 50px auto;
}
ngb-carousel img {
    width: 100%;
    outline: none;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}

